@import "@styles/_mixin.module.scss";
@import "@styles/_variable.module.scss";

.sidebar__container {
  position: relative;
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0000004d;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 370px;
    background-color: white;
    height: 100vh;
    z-index: 1001;
    transform: translateX(370px);
    transition: all 0.3s ease;
  }

  .slideSideBar {
    transform: translateX(0);
  }

  .sidebar__close {
    @include flex(center, center, 0px);
    position: absolute;
    top: 30px;
    left: -70px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #ccc;
    }
  }
  .close__icon {
    width: 18px;
    height: 18px;
  }
}
